<div class ="dashboard-page">
  <div class="container">
    <h1>History</h1>

    <div class="top-section">
      <div class="statistics-card">
        <div class="statistics-box">
          <h2>Statistics</h2>
          <div class="graph-placeholder"></div>
          <button class="btn">Advanced Statistics</button>
        </div>
      </div>

      <div class="task-form">
        <label for="time">Assigned time (min.):</label>
        <input type="text" id="time" value="25" />

        <p>Time distribution:</p>
        <ul>
          <li>Evenly</li>
          <li>Incremental</li>
          <li>Decremental</li>
          <li>Random</li>
        </ul>

        <button class="btn">Create a New Task</button>
      </div>
    </div>

    <div class="recent-tasks mt-3 overflow-auto" style="max-height: 200px;">
      <h3>Recent Tasks</h3>
      <ul class="task-list">
        <li>-</li>
        <li>-</li>
        <li>-</li>
        <li>-</li>
        <li>-</li>
        <li>-</li>
        <li>-</li>
        <li>-</li>
        <li>-</li>
        <li>-</li>
      </ul>
    </div>
  </div>
</div>
