.btn {
  background-color: #112D4E;
  color: white;
  padding: 8px 16px;
  border: none;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;

  &:hover{
    background-color: #1f5088;
    scale: 1.075;
    color: white;
  }
}
