.stats-title {
  color: #333333;
  font-weight: 600;
  font-size: 1.75rem;
  letter-spacing: 0.5px;
}

.chart-label {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: 0.2;
  color: #112D4E;
  margin-left: 10px;
}
